.home {
    vertical-align: top;
    width: 40%;
    height: 30vw;
    margin: 2% 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px -9px #000000; 
    box-shadow: 0px 0px 15px -9px #000000;
    border-radius: 8px;
    border-top:1px solid rgb(221, 221, 221);
    text-align: center;
}

.home h1 {
    font-size: 2vw;
    margin: 1% 0px;
    color: rgb(32, 120, 235);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.home img {
    width: 95%;
    margin: 2% 0px 2%;
}

.home p {
    font-size: 1vw;
    margin: 0px 5%;
    text-align: justify;
}
