@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* Modify CSS to add a min height and width so it doesn't get so small on phone sizes */
.login {
    margin-top: 2vw;
    position: relative;
    width: 19vw;
    height: 15vw;
    padding: 1vw;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px -5px #000000; 
    box-shadow: 5px 5px 15px -5px #000000;
}
.login h1 {
    border-bottom: 1px solid rgb(201, 201, 201);
    font-size: 1.7vw;
    position: relative;
    padding-bottom: 0.2vw;
    margin-bottom: 4%;
    color: rgb(32, 120, 235);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.login div {
    margin-bottom: 1vw;
}

.login input {
    width: 100%;
    font-size: 0.8vw;
    padding: 0.2vw;
    margin: 0px;
}

.login button{
    float: right;
    width: 28%;
    font-size: 0.8vw;
    padding: 0.3vw;
    margin: 0px;
}

.login p {
    font-size: 0.8vw;
    margin: 0px;
}

.login .response {
    color: rgb(243, 0, 0);
} 
